* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
}

// kseniya added navbar to look the same as the home page
#navbarWrapper {
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  height: 5rem;
  background-color: rgb(19, 121, 255);
  color: white;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbarTitle {
  font-size: 2rem;
  padding: 0 0 0 2rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.navbarElements {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 30rem;
}

.element {
  text-decoration: none;
  color: white;
}

.welcomeWrapper {
  padding: 8rem 0 0 0;
  text-align: center;
  background-color: #f4f4f4;
}

.welcomeProfile {
  font-size: 1.5rem;
  padding: 0 0 1.5rem 0;
}

.subText{
  font-size: 1.2rem;
}

// end

.header {
  background-color: #4682b4;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.header__navLeft {
  flex-basis: 50%;
}

.header__navRight {
  display: flex;
  justify-content: flex-end;
  flex-basis: 50%;
}

.header__logo {
  margin-top: 8rem;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.header__link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px;
}

.header__hero {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.header__title {
  font-size: 48px;
  margin: 0;
  padding: 0;
}

.header__subtitle {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  background-color: #f4f4f4;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  padding: 20px;
  // background-color: #fff;
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.main__container__profileInfo {
  width: 100%;
  margin-bottom: 40px;
  // background-color: red;
}

.updateUserContainer {
  display: flex;
  flex-direction: row;
  background-color: #88c1fa;
  align-items: center; 
  justify-content: space-between;
}

.updateUserContainer__CloseBtn {
  font-size: 1.2rem;
  padding: 5px 10px;
  background-color: rgb(19, 121, 255);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
}

.updateUserContainer__CloseBtn:hover {
  background-color: rgb(95, 165, 255);
}

.updateUserContainer__updateUserHeader {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.updateUserContainer label {
  font-weight: bold;
}

.updateUserContainer__HeaderInput,
.updateUserContainer__ContentInput {
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.updateUserContainer__SubmitBtn {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: rgb(19, 121, 255);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#updateUserRoot button{
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: rgb(19, 121, 255);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.updateUserContainer__SubmitBtn:hover {
  background-color: rgb(95, 165, 255);
}




//profile img(grid)
#postsUserRoot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  .mainPagePost {
    width: 30rem;
    height: 30rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      transition: transform 0.5s ease;
    }

    h3 {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      margin: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.7);
      font-size: 1.2rem;
      text-align: center;
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }

      h3 {
        opacity: 1;
      }

      .main__container__updatePost {
        opacity: 1;
      }
    }

    .main__container__updatePost {
      position: absolute;
      top: 5%;
      right: 15%;
      opacity: 0;
      transition: opacity 0.5s ease;

      button {
        background-color: transparent;
        cursor: pointer;
        font-size: 1.5rem;
        color: white;

        &:hover {
          color: #000000;
        }
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.editPostIcon{
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/330/430/original/vector-pencil-line-black-icon.jpg);
background-size: cover;
background-position: center;
width:40px;
height: 40px;
border-radius: 50%;
}
.updatePostContainer {
  display: flex;
  flex-direction: column;
  background-color: #4682b4;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.updatePostContainer__CloseBtn {
  font-size: 1.2rem;
  padding: 5px 10px;
  background-color: rgb(19, 121, 255);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
}

.updatePostContainer__CloseBtn:hover {
  background-color: rgb(95, 165, 255);
}

.updatePostContainer__updatePostHeader {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

.updatePostContainer label {
  font-weight: bold;
}

.updatePostContainer__HeaderInput,
.updatePostContainer__ContentInput {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.updatePostContainer__SubmitBtn {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: rgb(19, 121, 255);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.updatePostContainer__SubmitBtn:hover {
  background-color: rgb(95, 165, 255);
}
